# Example config file used to drive "ironman" version of code

HOSTNAME(0,0,12),
TIMESTAMP(75,0,12),
    
UPTIME(0,13,16),

    
DF(30 ,24,"/lost+found",               "root", df_best,20),
DF(55 ,24,"/boot/firmware/config.txt", "SD",   df_best,20),           /* line  55 */
DF(80 ,24,"/Q/mount/rest3/lost+found", "NV1",  df_best,20),           /* line  80 */
DF(105,24,"/dev/nvme0n1p3/lost+found", "NV2",  df_best,20),           /* line 105 */

    
AGE(0,130, 24,"/boot/firmware/config.txt", "BACKUP1",  age_days,20),  /* line 130 */
AGE(0,155, 24,"/home/graeme/src",          "BACKUP2",  age_days,180), /* line 155 */
FILE(0, 180, 8, "/etc/motm", 0),                                      /* line 180 */

RENDER(),
SLEEP(5),

CLEAR(),
